body {
    font-family: Roboto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 50px;
}

li {
    float: left;
    height: 40px;
    line-height: 40px;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #524f4c;
}

.contact-menu-item {
    color: #e61414;
}

div {
    background-color: #797c80;
}
.phone-number{
    color: #e61414;
}

footer {
    background-color:#4ab514;
    text-align: center;
}
